.contact-container {
  min-height: 100vh;
}

.custom-label {
  font-size: .99rem;
  color: #4e4e4e;
}

.custom-input {
  height: 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: 0.2s;
}

.custom-input:focus {
  border-bottom: 2px solid #1abc9c;
  box-shadow: none;
}

.custom-btn {
  background-color: #1abc9c;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
}
