----- STAR DIVIDER -----
.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  width: 80px;           /* طول الخط */
  height: 4px;            /* سُمك الخط */
  background-color: white;
  display: inline-block;
  margin: 5px 15px;         /* المسافة بين الخط والنجمة */
}

.divider i {
  color: white;
  font-size: 14px;
}

.divider-wrapper.text-dark .divider i,
.divider-wrapper.text-dark .divider::before,
.divider-wrapper.text-dark .divider::after {
  color: #2c3e50 !important;
  
}

.divider-wrapper.text-dark .divider::before,
.divider-wrapper.text-dark .divider::after {
  color: #2c3e50 !important;
  background-color: #2c3e50 !important;
}

.divider-wrapper.text-white .divider i,
.divider-wrapper.text-white .divider::before,
.divider-wrapper.text-white .divider::after {
  color: white !important;
  background-color: white !important;
}
